body {
    background-color: #b3b3b3;
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"] {
    background-color: #b3b3b3;
}

/*for Webkit*/
input::-webkit-input-placeholder {
    color:    darkslategrey;
}

/*for Firefox*/
input:-moz-placeholder {
    color:    darkslategrey;
}

input[type="text"].timer, select {
    text-align: center;
    width: 100px;
    height: 100px;
}

.timer-wrapper {
    margin-top: 50px;
    font-size: 300%;
}

.buttons {
    margin-top: 30px;
    font-size: 200%;
}

.agendas {
    font-size: 200%;
}




/*.ng-valid.ng-dirty {*/
/*background-color: #78FA89;*/
/*}*/

/*.ng-invalid.ng-dirty {*/
/*background-color: #FA787E;*/
/*}*/