body {
    background-color: #b3b3b3;
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

/* header */
header  {
    width: 100%;
    padding: 5px;
    color: #FFF;
    position: fixed;
    top:0;
    left:0;
}
html header    {
    position: absolute;
    top: expression(eval(document.documentElement.scrollTop+0));
}
header h1   {
    float: left;
    margin: 0 auto;
    font-size: 140%;
}

.links {
    margin-left: 10px;
    float: left;
}

/* main frame */
.main-frame {
    margin-top: 100px;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"] {
    background-color: #b3b3b3;
}

/*for Webkit*/
input::-webkit-input-placeholder {
    color: darkslategrey;
}

/*for Firefox*/
input:-moz-placeholder {
    color: darkslategrey;
}

input[type="text"].timer, select {
    text-align: center;
    width: 100px;
    height: 100px;
}

.timer-wrapper {
    margin-top: 10px;
    font-size: 300%;
}

.buttons {
    margin-top: 30px;
    font-size: 200%;
}

.agendas {
    font-size: 150%;
}

.delete-button {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #b3b3b3;
    background-color: #777777;
    filter:alpha(opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.5;
}

.delete-button:hover {
    background-color: #444444;
    filter:alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
    cursor: default;
}

.contents-area {
    margin-top: 10px;
    margin-bottom: 10px;
}